<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="Q2W" packages="tw.com">
	
	<Appenders>
	<Console name="STDOUT" target="SYSTEM_OUT">
<!--       <PatternLayout pattern="%d %p %c [%t] %m%n"/> -->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %r [%t] %-5p %c:%L %x - %m%n" charset="UTF-8"/>
    </Console>
    <File name="q2wLog" append="true" fileName="/data/log/Q2W/Q2W.log">
      <PatternLayout>
        <Pattern>%d %p %c [%t] %m%n</Pattern>
        <charset>UTF-8</charset>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="q2wLog"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>